---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<SSTK_CLIENT_ID>&client_secret=<SSTK_CLIENT_SECRET>&grant_type=client_credentials&scope=user.view%20licenses.view
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-End-User-Request-Id:
      - 53fea077-6d09-40be-96b1-14c5ed357455
      X-Shutterstock-Resource:
      - "/oauth/access_token"
      X-Shutterstock-App-Version:
      - '1345'
      X-Content-Security-Policy:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com https://*.shutterstock.com
      X-Webkit-Csp:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com https://*.shutterstock.com
      X-End-User-Country:
      - 'null'
      Etag:
      - W/"13c-b9KV0iR99q9/7WAGibNY6w"
      X-Shutterstock-Render-Time-Ms:
      - '10'
    body:
      encoding: UTF-8
      string: '{"access_token":"1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyBsaWNlbnNlcy52aWV3IiwiY2xpZW50X2dyYW50Ijp0cnVlLCJleHAiOjE0ODU0MTM4MzN9.JezqM4V9-ZwqxD8CwGhhI-bUI4vVBtagkhjogRZH6JB7eQL2ct38-67TSlFVStiMv-Ut1cxJHL82BWC7RfKlbw","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 26 Jan 2017 05:57:14 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/user/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyBsaWNlbnNlcy52aWV3IiwiY2xpZW50X2dyYW50Ijp0cnVlLCJleHAiOjE0ODU0MTM4MzN9.JezqM4V9-ZwqxD8CwGhhI-bUI4vVBtagkhjogRZH6JB7eQL2ct38-67TSlFVStiMv-Ut1cxJHL82BWC7RfKlbw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 4e2b8199-0e27-4ec3-bfb1-fef358666ba6
      X-Shutterstock-Resource:
      - "/v2/user/access_token"
      X-Shutterstock-App-Version:
      - apitwo-755
      Etag:
      - 8baed31130135937e5b714c4015addb8
      X-End-User-Client-Id:
      - 3db49a65fee60ffa26ab
    body:
      encoding: UTF-8
      string: '{"client_id":"3db49a65fee60ffa26ab","realm":"customer","scopes":["user.view","licenses.view"],"expires_in":3598}'
  recorded_at: Thu, 26 Jan 2017 05:57:14 GMT
recorded_with: VCR 3.0.3
