---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<SSTK_CLIENT_ID>&client_secret=<SSTK_CLIENT_SECRET>&grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-End-User-Request-Id:
      - dea44311-ba3a-4100-b085-9a10b745c1f6
      X-Shutterstock-Resource:
      - "/oauth/access_token"
      X-Shutterstock-App-Version:
      - '1328'
      X-Content-Security-Policy:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com
      X-Webkit-Csp:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com
      X-End-User-Country:
      - 'null'
      Etag:
      - W/"12a-+5RhKTr/8Ua42ezfZgNCNw"
      X-Shutterstock-Render-Time-Ms:
      - '8'
    body:
      encoding: UTF-8
      string: '{"access_token":"1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyIsImNsaWVudF9ncmFudCI6dHJ1ZSwiZXhwIjoxNDgyNjc1ODczfQ.U3uemgudTmxGkURRFanjq2YFmDI-PpykOEwQtez7_koeowfEDEH1e-qygODWofpoZu-Nzi8VLIM7TtDX6yECQA","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Sun, 25 Dec 2016 13:24:33 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/search/popular/queries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyIsImNsaWVudF9ncmFudCI6dHJ1ZSwiZXhwIjoxNDgyNjc1ODczfQ.U3uemgudTmxGkURRFanjq2YFmDI-PpykOEwQtez7_koeowfEDEH1e-qygODWofpoZu-Nzi8VLIM7TtDX6yECQA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 450d6ead-204b-41fc-9566-fc5821e793ff
      X-Shutterstock-Resource:
      - "/v2/images/search/popular/queries"
      X-Shutterstock-App-Version:
      - apitwo-731
      Etag:
      - e41b2f86cbd2d18d1f5bdd11d2c1dddc
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":["christmas","christmas background","christmas tree","business","2017","background","new
        year","sky","fireworks","wood texture","family","snow","merry christmas","travel","christmas
        decoration","wood","winter","fitness","coffee","beach"]}'
  recorded_at: Sun, 25 Dec 2016 13:24:34 GMT
recorded_with: VCR 3.0.3
