---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<SSTK_CLIENT_ID>&client_secret=<SSTK_CLIENT_SECRET>&grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-End-User-Request-Id:
      - fde0aee8-9843-4c5e-9df8-0dfcb7de5ff6
      X-Shutterstock-Resource:
      - "/oauth/access_token"
      X-Shutterstock-App-Version:
      - '1328'
      X-Content-Security-Policy:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com
      X-Webkit-Csp:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com
      X-End-User-Country:
      - 'null'
      Etag:
      - W/"12a-UEeYOG7Vmxsrp2eBGYiymQ"
      X-Shutterstock-Render-Time-Ms:
      - '6'
    body:
      encoding: UTF-8
      string: '{"access_token":"1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyIsImNsaWVudF9ncmFudCI6dHJ1ZSwiZXhwIjoxNDgyNjc1ODcxfQ.eez67UGmD2Js4HQG5kN3-YdB77stqpI3xkUWdcPOgh-jl0tRE59ld8BQTRDZ-cDJ1bSgQKuTw1iYqdmkJjRDPA","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Sun, 25 Dec 2016 13:24:31 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/recommendations?id%5B%5D=117069988&id%5B%5D=152339567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyIsImNsaWVudF9ncmFudCI6dHJ1ZSwiZXhwIjoxNDgyNjc1ODcxfQ.eez67UGmD2Js4HQG5kN3-YdB77stqpI3xkUWdcPOgh-jl0tRE59ld8BQTRDZ-cDJ1bSgQKuTw1iYqdmkJjRDPA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - f69cff12-83f8-4db2-91ba-adc20eaaa7ca
      X-Shutterstock-Resource:
      - "/v2/images/recommendations"
      X-Shutterstock-App-Version:
      - apitwo-731
      Etag:
      - 40b3a48a86145ff026ff834a29e1ba1b
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"106363526"},{"id":"113284498"},{"id":"107390756"},{"id":"99379946"},{"id":"133918412"},{"id":"114383710"},{"id":"58565428"},{"id":"117492673"},{"id":"114717280"},{"id":"96698602"},{"id":"112586528"},{"id":"119205097"},{"id":"117069994"},{"id":"96202397"},{"id":"116158189"},{"id":"125053298"},{"id":"96815971"},{"id":"96101114"},{"id":"105631691"},{"id":"104156891"}]}'
  recorded_at: Sun, 25 Dec 2016 13:24:32 GMT
recorded_with: VCR 3.0.3
