---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=<SSTK_CLIENT_ID>&client_secret=<SSTK_CLIENT_SECRET>&grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-End-User-Request-Id:
      - 74c27b12-2f58-4b33-86fa-0062ec899116
      X-Shutterstock-Resource:
      - "/oauth/access_token"
      X-Shutterstock-App-Version:
      - '1328'
      X-Content-Security-Policy:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com
      X-Webkit-Csp:
      - connect-src 'self' sdp-tagcollector.shutterstock.com https://bam.nr-data.net
        https://api.segment.io; object-src 'self'; media-src 'self'; script-src 'self'
        'unsafe-inline' 'unsafe-eval' https://www.offset.com https://absinthe.shutterstock.com
        https://absinthe.picdn.net https://secure.adnxs.com https://cdn.segment.com
        https://tags.extole.com https://ajax.googleapis.com tagmanager.google.com
        https://www.google.com https://www.gstatic.com www.googletagmanager.com www.google-analytics.com
        https://ssl.google-analytics.com www.googleadservices.com js-agent.newrelic.com
        https://bam.nr-data.net/ *.bounceexchange.com
      X-End-User-Country:
      - 'null'
      Etag:
      - W/"12a-pNbfeHiKBCU4tA5VfSp2bw"
      X-Shutterstock-Render-Time-Ms:
      - '8'
    body:
      encoding: UTF-8
      string: '{"access_token":"1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyIsImNsaWVudF9ncmFudCI6dHJ1ZSwiZXhwIjoxNDgyNjcxMTUzfQ.UnBDXIFtZj5rmQgEoOAjiBq5ILDai9hE2fPjpdOfyhbZvqo2b3eSRK8dxdP7HlTtMOB7fkM6fBqIGoK6zYGhcg","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Sun, 25 Dec 2016 12:05:54 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/118139110
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1/eyJjbGllbnRfaWQiOiIzZGI0OWE2NWZlZTYwZmZhMjZhYiIsInJlYWxtIjoiY3VzdG9tZXIiLCJzY29wZSI6InVzZXIudmlldyIsImNsaWVudF9ncmFudCI6dHJ1ZSwiZXhwIjoxNDgyNjcxMTUzfQ.UnBDXIFtZj5rmQgEoOAjiBq5ILDai9hE2fPjpdOfyhbZvqo2b3eSRK8dxdP7HlTtMOB7fkM6fBqIGoK6zYGhcg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 2b55074b-7de9-41f0-a132-544b292d64bd
      X-Shutterstock-Resource:
      - "/v2/images/:id"
      X-Shutterstock-App-Version:
      - apitwo-731
      Etag:
      - db9c662516f46908753c30d5174e75e9
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"118139110","added_date":"2012-11-09","aspect":1.5,"assets":{"small_jpg":{"display_name":"Small","dpi":72,"file_size":88064,"format":"jpg","height":333,"is_licensable":true,"width":500},"medium_jpg":{"display_name":"Med","dpi":300,"file_size":301056,"format":"jpg","height":667,"is_licensable":true,"width":1000},"huge_jpg":{"display_name":"Huge","dpi":300,"file_size":2790400,"format":"jpg","height":3090,"is_licensable":true,"width":4635},"supersize_jpg":{"display_name":"Super","dpi":300,"file_size":10112609,"format":"jpg","height":6180,"is_licensable":false,"width":9270},"huge_tiff":{"display_name":"Huge","dpi":300,"file_size":42966450,"format":"tiff","height":3090,"is_licensable":false,"width":4635},"supersize_tiff":{"display_name":"Super","dpi":300,"file_size":171865800,"format":"tiff","height":6180,"is_licensable":false,"width":9270},"preview":{"height":300,"url":"https://image.shutterstock.com/display_pic_with_logo/1306729/118139110/stock-photo-adorable-labrador-puppy-playing-with-a-chew-toy-on-white-backdrop-118139110.jpg","width":450},"small_thumb":{"height":67,"url":"https://thumb1.shutterstock.com/thumb_small/1306729/118139110/stock-photo-adorable-labrador-puppy-playing-with-a-chew-toy-on-white-backdrop-118139110.jpg","width":100},"large_thumb":{"height":100,"url":"https://thumb1.shutterstock.com/thumb_large/1306729/118139110/stock-photo-adorable-labrador-puppy-playing-with-a-chew-toy-on-white-backdrop-118139110.jpg","width":150}},"categories":[{"id":"1","name":"Animals/Wildlife"},{"id":"20","name":"NOT-CATEGORIZED"}],"contributor":{"id":"1306729"},"description":"Adorable
        Labrador Puppy Playing with a Chew Toy on White Backdrop","image_type":"photo","is_adult":false,"keywords":["animal","animal
        themes","backgrounds","cute","dog","domestic animals","friendship","full length","isolated","labrador","labrador
        retriever","one animal","pets","play","puppy","purebred dog","studio shot","toy","yellow","young
        animal"],"media_type":"image"}'
  recorded_at: Sun, 25 Dec 2016 12:05:54 GMT
recorded_with: VCR 3.0.3
